.about-us-menu-wrapper{
    background-color: #d9b100;
    width: 10%;
    height: 250px;
    border-radius: 10px;
}

.about-us-menu-wrapper h1{
    text-align: center;
}

.about-us-menu-wrapper ul{
    flex-direction: column;
    margin-left: 7%;
}