body{
    margin: 0;
}

.header-wrapper{
    background-color: #0c5949;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 100px;*/
    height: 100%;
}

.right-side img{
    width: 35px;
    height: 35px;
    /*margin: 0 100px;*/
}

.right-side{
    display: flex;
    align-items: center;
}

.right-side a{
    color: white;
    font-size: 30px;
    /*margin: 20px;*/
    text-decoration: none;
}

.right-side a:visited{
    text-underline-style: dash-long;
}

.right-side a:hover{
    color: royalblue;
}

.header-logo-img{
    height: 30px;
}